<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGN UP</title>
</head>
<body>
    <div>
        <form action="/user/signup" method="post">

            <label>Name</label><br>
            <input type="text" placeholder="ENter your name" name="name"><br>
            <label>Email</label><br>
            <input type="text" placeholder="ENter your email" name="email"><br>
            <label>Password</label><br>
            <input type="text" placeholder="ENter your password" name="password"><br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>